$darkred: #8C4646;
$lightred: #D96459;
$orange: #F2AE72;
$yellow: #F2E394;
$green: #588C7E;
$gray: #777;
$lightgray: #F7F7F7;

html {
  font-size: 16px;
}

header {
  background-image: url("/images/sunflowers.jpeg");
  background-position: 50% 40%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 300px;
  padding-top: 2.5rem;

  a {
    text-decoration: none;
    color: $lightred;
    font-family: 'Arvo', serif;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 3px 0px;
  }
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  text-align: center;
  background-color: transparentize($lightgray, .1);
  padding: 20px;
  margin: 0 auto;
  margin-top: -60px;

  a {
    color: $gray;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      color: $lightred;
    }
  }
}

.content {
  margin: auto;
  padding-top: 15px;
  width: 70vw;

  h3 {
    color: $gray;
    text-align: center;
    margin: 20px;
  }

  a {
    color: $green;
  }

  p {
    color: $gray;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }

  img {
    border: #eee solid 5px;
    box-sizing: border-box;
    display: block;
    margin: 40px auto;
    max-width: 60vw;
  }

  blockquote p{
    font-size: 1.35rem;
    color: $gray;
    text-align: center;
  }
}

footer {
  background-color: $lightgray;
  color: $gray;
  font-size: .8rem;
  margin-top: 40px;
  padding: 20px;

  a {
    color: $green;
  }

  p {
    margin: 0 auto;
    text-align: center;
    width: 60vw;
  }
}