$darkred: #8C4646;
$lightred: #D96459;
$orange: #F2AE72;
$yellow: #F2E394;
$green: #588C7E;
$gray: #777;
$lightgray: #eee;

html {
  font-size: 16px;
}

header {
  a {
    text-decoration: none;
    color: $lightred;
    font-family: 'Arvo', serif;
  }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 3px 0px;
  }
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  text-align: center;
  background-color: $lightgray;
  padding: 20px;
  margin: 30px auto;

  a {
    color: $gray;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      color: $lightred;
    }
  }
}

.content {
  width: 70vw;
  margin: auto;

  h3 {
    color: $gray;
    text-align: center;
    margin: 20px;
  }

  a {
    color: $green;
  }

  p {
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1.1rem;
    color: $gray;
  }

  img {
    margin: 40px auto;
    display: block;
    max-width: 60vw;
  }

  blockquote p{
    font-size: 1.35rem;
    color: $gray;
    text-align: center;
  }
}

footer {
  background-color: $lightgray;
  color: $gray;
  font-size: .8rem;
  margin-top: 40px;
  padding: 20px;

  a {
    color: $green;
  }

  p {
    margin: 0 auto;
    text-align: center;
    width: 60vw;
  }
}