$darkred: #8C4646;
$lightred: #D96459;
$orange: #F2AE72;
$yellow: #F2E394;
$green: #588C7E;
$gray: #777;
$lightgray: #F7F7F7;

$med: "only screen and (max-width: 960px)";
$small: "only screen and (max-width: 536px)";


html {
  font-size: 16px;
}

header {
  background-image: url("/images/sunflowers.jpeg");
  background-position: 50% 42%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 225px;
  padding-top: 1.5rem;

  a {
    text-decoration: none;
    color: $lightred;
    font-family: 'Arvo', serif;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 3px 0px;

    @media #{$med} {
      font-size: 2.5rem;
    }

    @media #{$small} {
      font-size: 2rem;
    }
  }
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  text-align: center;
  background-color: transparentize($lightgray, .1);
  margin: 0 auto;
  margin-top: -60px;
  height: 60px;

  @media #{$small} {
    background-color: $lightgray;
    height: auto;
    padding: 5px;
  }

  a {
    color: $gray;
    display: inline-block;
    height: 40px;
    margin: auto 20px;
    padding-top: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      color: $lightred;
    }

    @media #{$small} {
      display: block;
      margin: 0;
    }
  }
}

.content {
  margin: auto;
  padding-top: 15px;
  width: 60vw;

  @media #{$med} {
    width: 80vw;
  }

  @media #{$small} {
    width: 90vw;
  }

  h3 {
    color: $gray;
    text-align: center;
    margin: 20px;
  }

  a {
    color: $green;
  }

  p {
    color: $gray;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }

  img {
    border: #eee solid 5px;
    box-shadow: rgba(0,0,0,.1) 1px 2px 2px;
    box-sizing: border-box;
    display: block;
    margin: 40px auto;
    max-width: 50vw;

    @media #{$med} {
      max-width: 70vw;
    }

    @media #{$small} {
      max-width: 80vw;
    }
  }

  blockquote p{
    font-size: 1.35rem;
    color: $gray;
    text-align: center;
  }
}

footer {
  background-color: $lightgray;
  color: $gray;
  font-size: .8rem;
  margin-top: 40px;
  padding: 20px;

  a {
    color: $green;
  }

  p {
    margin: 0 auto;
    text-align: center;
    width: 60vw;
  }
}